.card {
    font-family: 'KimjungchulMyungjo-Bold';
    position: relative;
    width: 280px;
    height: 400px;
    margin: 10px;
    perspective: 1000px;
}

.inner {
    position: relative;
    width: 280px;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    transition: transform 5s;
    transform-style: preserve-3d;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(128, 128, 128);
    overflow: hidden;
}


/* .card {
    font-family: 'KimjungchulMyungjo-Bold';
    position: relative;
    width: 230px;
    height: 350px;
    margin: 10px;
    perspective: 1000px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    transition: transform 5s;
    transform-style: preserve-3d;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(128, 128, 128);
    overflow: hidden;
}

.front, .back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    }

.front {
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.front img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
}

.content {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: height 0.4s;
}

.content:hover {
    height: 100%;
}

.content:hover .back {
    transform: rotateY(0deg);
}

.content > div {
    margin-bottom: 5px;
}

.content > button {
    color: black;
    border: 10x solid black;
    margin-top: auto;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.back {
    transform: rotateY(180deg);
}  */