.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1a1a1a;
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-content{
    display: flex;
    align-items: center;
}
.navbar-user {
    text-align: right;
    margin-right: 2rem;
}

.navbar-user span{
    color: white;
}

.username{
    color: white;
}

.username:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.navbar-user > .username a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.navbar-links{
    display: flex;
    align-items: center;
}
.navbar-links a{
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}

.navbar-links a:hover{
    /*뭔가 효과를 넣을 수 있을듯*/
}


