.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.year {
    font-size: 14px;
    margin-left: 5px;
    color: #ccc;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}