/* FilterBox.module.css
.filterContainer {
    padding: 10px;
    background-color: #292C33;
    border-radius: 8px;
    max-width: 400px;
}

.checkboxContainer {
    display: flex;
} */


/* FilterBox.module.css */
.filterBox {
    font-size: 20px;
    color: #F6F3E7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterContainer {
    display: flex;
    align-items: center;
    background-color: #292C33;
    border-radius: 10px;
    padding: 10px 20px;
    /* gap: 20px; */
    /* 각 필터 간의 간격을 조정 */
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    /* 각 체크박스 간의 간격을 조정 */
}