.container {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100px;
    background-color: #12151D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2000;
    color: white;
}

.container>div {
    width: 30%;
}

.filterBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterBoxContainerLarge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2
}

.filterBoxContainerMini {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-self: space-around;
    width: auto;
}


/* .searchBarContainer 
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto; */

.CreateRoomButtonContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 3%;
}