.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    background-color: #12151D;
    /* position: fixed; */
    /* top: 100; */
    width: 100%;
    z-index: 1000;
    color: white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* 그림자 추가 */
}

.filterSection {
    flex: 1;
    /* 각 영역별 가로 비율 지정 */
}

.searchSection {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.buttonSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}