/* App.css */

/* index.css 또는 App.css에 추가 */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.east-sea-dokdo-regular {
  font-family: "East Sea Dokdo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* 모든 요소의 기본 여백과 패딩 제거 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* 필요에 따라 추가적인 스타일 설정 */
#root {
  width: 100%;
  height: 100%;
}

/* 스크롤바가 생기는 경우에도 상단에 고정된 요소가 보이도록 설정 */
body {
  overflow-y: scroll;
}