.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 420px;
    color: #DDD;
    background: rgba(34, 15, 15, 0.6);
    border: 1px solid black;
    border-radius: 20px;
    z-index: 100;
}

.content {
    justify-content: center;
    align-item: center;
}

.header {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
}