.modals {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px; 
    height: 390px;
    perspective: 800px; 
    z-index: 100;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.modals:hover .content {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 320px;
    height: 390px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(34, 15, 15, 0.5);
    backface-visibility: hidden;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    z-index: 1;
}

.backContent {
    font-family: 'KimjungchulMyungjo-Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: pre-wrap;


}
