.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* 배경을 더욱 어둡게 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modalContent {
    background: #12151D;
    padding: 20px 30px 40px 30px;
    /* border: 1px solid white; */
    border: 3px solid #1E2940;
    border-radius: 10px;
    /* 모서리를 둥글게 */
    width: 500px;
    /* 너비 조정 */
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
    position: relative;
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* 요소 사이 간격 추가 */
    margin: 15px 50px 0 50px;
}

.sound {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #EAEAEA;
    margin: 35px 0;
}

.soundText {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #EAEAEA;
}

.voice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #EAEAEA;
}

.voiceText {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #EAEAEA;
}