.container {
    height: 8vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.roomTitle {
    font-family: 'KimjungchulMyungjo-Bold';
    font-size: 28px;
    margin-left: 10px;
}

.right {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exit {
    font-size: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
}

.exitImage {
    width: 30px;
}

.settings {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(200, 200, 200, 0.2);
    border-radius: 15px;
    margin-right: 20px;
    padding: 10px 20px;

}

.black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}