.containerStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.labelStyle {
    fontsize: 16px;
    line-height: 60px;
    white-space: nowarap;
}

.inputStyle {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputStyle::placeholder {
    font-size: 12px;
}