.containerStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.labelStyle {
    font-size: 16px;
    line-height: 70px;
    margin-right: 5px;
}

.inputStyle {
    width: 15px;
    height: 15px;
}
